<!DOCTYPE html>
<html lang="es" data-ng-app="angle" >
  <head>
    <title>New Sails App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{app.description}}">
    <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
    <title data-ng-bind="::pageTitle()">Nuberdin - Gestión de Jardines Infantiles</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

    <!-- Themes-->
    <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/app.module.js"></script>
    <script src="/js/base.js"></script>
    <script src="/js/custom/custom.controller.js"></script>
    <script src="/js/custom/custom.module.js"></script>
    <script src="/js/modules/colors/colors.contant.js"></script>
    <script src="/js/modules/colors/colors.module.js"></script>
    <script src="/js/modules/colors/colors.service.js"></script>
    <script src="/js/modules/core/core.config.js"></script>
    <script src="/js/modules/core/core.constants.js"></script>
    <script src="/js/modules/core/core.module.js"></script>
    <script src="/js/modules/core/core.run.js"></script>
    <script src="/js/modules/lazyload/lazyload.config.js"></script>
    <script src="/js/modules/lazyload/lazyload.constants.js"></script>
    <script src="/js/modules/lazyload/lazyload.module.js"></script>
    <script src="/js/modules/loadingbar/loadingbar.config.js"></script>
    <script src="/js/modules/loadingbar/loadingbar.module.js"></script>
    <script src="/js/modules/loadingbar/loadingbar.run.js"></script>
    <script src="/js/modules/navsearch/navsearch.directive.js"></script>
    <script src="/js/modules/navsearch/navsearch.module.js"></script>
    <script src="/js/modules/navsearch/navsearch.service.js"></script>
    <script src="/js/modules/preloader/preloader.directive.js"></script>
    <script src="/js/modules/preloader/preloader.module.js"></script>
    <script src="/js/modules/routes/route-helpers.provider.js"></script>
    <script src="/js/modules/routes/routes.config.js"></script>
    <script src="/js/modules/routes/routes.module.js"></script>
    <script src="/js/modules/settings/settings.module.js"></script>
    <script src="/js/modules/settings/settings.run.js"></script>
    <script src="/js/modules/sidebar/sidebar.controller.js"></script>
    <script src="/js/modules/sidebar/sidebar.directive.js"></script>
    <script src="/js/modules/sidebar/sidebar.module.js"></script>
    <script src="/js/modules/sidebar/sidebar.service.js"></script>
    <script src="/js/modules/sidebar/sidebar.userblock.controller.js"></script>
    <script src="/js/modules/translate/translate.config.js"></script>
    <script src="/js/modules/translate/translate.module.js"></script>
    <script src="/js/modules/translate/translate.run.js"></script>
    <script src="/js/modules/utils/animate-enabled.directive.js"></script>
    <script src="/js/modules/utils/browser.service.js"></script>
    <script src="/js/modules/utils/clear-storage.directive.js"></script>
    <script src="/js/modules/utils/fullscreen.directive.js"></script>
    <script src="/js/modules/utils/load-css.directive.js"></script>
    <script src="/js/modules/utils/now.directive.js"></script>
    <script src="/js/modules/utils/table-checkall.directive.js"></script>
    <script src="/js/modules/utils/trigger-resize.directive.js"></script>
    <script src="/js/modules/utils/utils.module.js"></script>
    <script src="/js/modules/utils/utils.service.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
